/* Write your CSS below, don't change the rules above. */
body{
  background-color: #E1F0DA;
  font-size: xx-large;
}
table {
  margin: auto; /* center the table horizontally */
  border-collapse: collapse; /* remove the space between table cells */
}

h1{
  color: #294B29;
}

th, td {
  color: #294B29;
  border: 1px ; /* add a border to the table cells */
  padding: 10px; /* add some space around the cell content */
  text-align: center; /* center the cell content vertically */
}

img{
  height: 300px;
  width: 550px;
}

.center {
  margin: auto;
  background-color: #E1F0DA;
  ;
  width: 66%;
  justify-content: center;
  text-align: center;
} 

@media (max-width: 600px) { /* use a media query to adjust the table layout for smaller screens */
  table {
    margin:auto; /* center the table horizontally */
    width: 80%;
    border-collapse: collapse; /* remove the space between table cells */
  }
  
  table, th, td {
    display: flex; 
    justify-content: center;
    text-align: center;
    /* make the table elements block-level */
  }
  th, td {
    margin: auto;
    border: 1px; /* remove the border from the cells */
    padding: 10px; /* add some space around the cell content */
   /* center the cell content vertically */
  }

  table:before {
    /* add a label before each cell value *   attr(data-label)*/
    font-weight: bold; /* make the label bold */
    display: inline-block; /* make the label inline-block */
    width: 100px; /* set a fixed width for the label */
  }
}





